.none {
  display: none !important;
}

body {
  background: #C4D9DA;
  font-family: sans-serif;
}

p {
  margin: 0 0 5px;
}


.article {
  background: #FFF;
  border: 1px solid rgba(0, 89, 181, 0.82);
  width: 600px;
  margin: 0 0 15px;
  box-shadow: 2px 2px 5px -1px rgb(4, 58, 133);
  padding: 3px 5px;
  border-radius: 5px;
}

.book__author {
  text-decoration: underline;
  color: #1D61DF;
}

.add {
  margin: 0 5px 5px 200px;
  width: 210px;
  border: 2px solid rgba(209, 115, 27, 0.82);
  padding: 5px;
  border-radius: 5px;
}

.add__author, .add__book, .add__year, .add__btn, .add__checkrule {
  display: block;
  margin: 0 0 5px 0;
  padding: 5px;
  width: 94%;
  border: 1px solid rgba(26, 34, 109, 0.82);
  border-radius: 5px;
}
.add__checkrule {
  border: none;
  font-size: 12px;
}

.add__btn {
  box-sizing: content-box;
  color: #FFF;
  text-transform: uppercase;
  background: #2FDEF5;
  border-radius: 5px
}
.upd__btn {
  box-sizing: content-box;
  color: #FFF;
  text-transform: uppercase;
  background: #10E63E;
  border-radius: 5px;
}

.del__btn {
  box-sizing: content-box;
  color: #FFF;
  text-transform: uppercase;
  background: #DA2114;
  border-radius: 5px;
  margin: 0 auto;
  margin-right: 15px;
}

.add__btn:disabled {
  background: #CCC;
  color: #999;
}

.app{
  position: absolute;
  left: 30%;
  top:0;
  padding-top:70px;
}